/* Стили для параграфа*/
p {
    margin: 5px;
    width: 100px;
    height: 100px;
    background-color: green;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 17px;
    color: wheat;
}