/* Стили для body для того чтоб избежать лишних отступов*/
body{
    margin: 0;
}

/* Стили для блока шапки сайта */
#header{
    width: 100%;
    height: 150px;
    background-color : #64cacb;
}

/* Стили для за блок навигации */
#navigation{
    width: 100%;
    height: 90px;
    background-color : #fb9693;
}

/* Стили для основного блока */
.main{
    width: 100%;
    height: 600px;
}

/* Стили для части основного блока отвечающей за меню*/
.menu{
    width: 25%;
    height: 600px;
    background-color: #9bcb9c;
    float: left;
}

/* Стили для части основного блока отвечающей за контент*/
.content{
    width: 75%;
    height: 600px;
    background-color: #cccfd0;
    float: left;
}

/* Стили для нижнего блока подвала сайта*/
#footer{
    width: 100%;
    height: 110px;
    background-color: #0466fc;
}

/* Стили для текста в наших блоках */
span {
    font-size: 36px;
    font-weight: 900;
}